* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0);
}
#nav {
  height: 100px;
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}
#nav h4 {
  font-size: 20px;
  font-weight: 500;
}

#nav i {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}

#center {
  width: 100%;

  padding: 40px 80px;
}
#center h1 {
  /* font-size: 80px; */
  font-size: 5vw;
  font-weight: 500;
  line-height: 7vw;
}
#center-in {
  height: 200px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#center-in p {
  /* font-size: 22px; */
  font-size: 1.15vw;
  font-weight: 600;
  line-height: 1.8vw;
}
#right {
  width: 20%;
  border: 2px solid rgba(0, 0, 0, 0);
}
.elem {
  padding: 20px 0;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}
.elem i {
  font-size: 25px;
  font-weight: 500;
  opacity: 0;
}
.elem a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.elem:hover i {
  opacity: 1;
}
.elem:hover a {
  text-decoration: underline;
}

#bottom {
  height: 50%;
  width: 100%;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1498798821241-1f327af804fe?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: 0 30%;
}

@media (max-width: 600px) {
  #nav {
    height: 60px;
    /* background-color: rgb(255, 14, 14); */
    gap: 20px;
    padding: 0 30px;
    position: fixed;
    background-color: black;
    color: white;
  }

  #nav h4 {
    font-size: 15px;
    font-weight: 500;
  }

  #nav i {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
  }

  #center {
    width: 100%;
    padding: 10px 10px;
  }
  #center h1 {
    /* font-size: 80px; */
    margin-top: 7vh;
    border: 2px solid rgba(0, 0, 0, 0);
    font-size: 5vh;
    font-weight: 500;
    line-height: 7vh;
  }
  #center-in {
    height: 200px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #center-in p {
    /* font-size: 22px; */
    font-size: 2vw;
    font-weight: 500;
    line-height: 2.1vh;
    margin-bottom: 10px;
  }
  #right {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
  }
  .elem {
    padding: 10px 0;
    border-top: 1.5px solid black;
    display: flex;
    justify-content: space-between;
  }
  .elem i {
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
  }
  .elem a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
  }
  .elem:hover i {
    opacity: 1;
  }
  .elem:hover a {
    text-decoration: underline;
  }

  #bottom {
    height: 50%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1498798821241-1f327af804fe?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 20%;
  }
}
