* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#page1 {
  width: 100%;
  height: 100%;
  background-color: rgb(183, 131, 94);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  width: 100%;
  height: 100%;
  background-color: rgb(122, 85, 85);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#page2 img {
  height: 100%;
  width: 20%;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#page3 {
  width: 100%;
  height: 100%;
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle {
  height: 200px;
  width: 200px;
  background: linear-gradient(red, royalblue);
  border-radius: 50%;
}
